# Stuffs to not be copied into Docker image

.git
.gitignore
.gitattributes
*Dockerfile*
*docker-compose*
.dockerignore

.npmrc
.prettierrc
.eslintrc.cjs
.graphqlrc
.editorconfig
.svelte-kit
.vscode
node_modules
build
package
**/.env